/*Cor principal do estilo: barra lateral, superior e cards*/
$color-base: #007bff;
$color-secondary: #007bff;

/*Cor dos textos da barra lateral superior e do hover da tabela*/
$font-color: #fff;

/*--------------------------------------------------------
--------------------CheckBox com Switch-------------------
--------------------------------------------------------*/

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    i{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;
        color:#ccc;
    }
    i:before{
        position: absolute;
        height: 26px;
        width: 26px;
        left: 10px;
        bottom: 0px;
        transition: 0.4s;
    }
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: $color-base;
}
input:checked + .slider i{
    color: $color-base;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
input:checked + .slider i:before {
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

