/*********************************
        Partners
*********************************/
.partners {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: lighten($white,20%);
  }

  .partners .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .partners .owl-item img {
    width: 80%;
    opacity: 0.5;
    transition: 0.3s;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
  }

  .partners .owl-item img:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
    width: 82%;
    padding: 0 10px;
  }

  /*.partners .owl-nav, .clients .owl-dots {
    margin-top: 5px;
    text-align: center;
  }

  .partners .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
  }

  .partners .owl-dot.active {
    background-color: #ffc451 !important;
  }*/
