/*********************************
	    Social Share
*********************************/
div#social-links {
    margin: 0 auto;
    max-width: 500px;
}
div#social-links ul li {
    display: inline-block;
    align-items: center;
}
div#social-links ul li a {
    padding: 10px;
    border-bottom: 2px solid $custom-color-primary;
    color: #222;
    background-color: #ccc;
    transition: 0.3s;

    align-items: center;
}
div#social-links ul li a:hover {
    transition: 0.3s;
    border-bottom: 2px solid $custom-color-secondary;
}
